@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(-30deg);
  }
  100% {
    transform: none;
  }
}

.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12.5px;
  color: white;
  font-weight: 600;
  animation: notificationAnimation 1s ease-in-out;
}
